<nav class="navbar navbar-light fst-italic" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h1 class="display-6  text-secondary fw-bold">AIRPLANE RESERVATION SYSTEM_AIRPORT</h1>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/airport_info">Airport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/airplane_info">Airplane</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/leg_info">Leg_instance</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th scope="col">항공사</th>
            <th scope="col">출발지</th>
            <th scope="col">출발시간</th>
            <th scope="col">도착지</th>
            <th scope="col">도착시간</th>
            <th scope="col">날짜</th>
            <th scope="col">남은좌석</th>
            <th scope="col">항공기ID</th>
        </tr>
    </thead>

    <tbody>
        {{#each leg}}
        <form method="post" action="/admin/leg_info/edit">
            <tr>
                <th scope="row">
                    <input type="hidden" name="date_info" value={{date_string}}>
                    {{airline}}
                </th>
                <td>{{departure}}</td>
                <td>{{depart_time}}</td>
                <td>{{arrival}}</td>
                <td>{{arrive_time}}</td>
                <td>{{date_string}}</td>
                <td><input type="text" name="seats" value={{seats}}></td>
                <td>{{airplane_id}}</td>
                <td>
                    <button class="btn btn-secondary btn-sm" name='editBtn' type="submit"
                        value="{{sch_number}}">수정</button>
                    <button class="btn btn-danger btn-sm" name='delBtn' type="submit" value="{{sch_number}}">삭제</button>
                </td>
            </tr>
        </form>
        {{/each}}

        <form method="post" action="/admin/leg_info/edit">
            <tr>
                <input type="hidden" name="sch_number1" value={{sch_number}}>
                <th scope="row">
                    {{!-- <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            비행 일정 선택
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            
                            <li><a class="dropdown-item" href="#">{{s_airline}} / {{s_departure}} / {{s_depart_time}} / {{s_arrival}} / {{s_arrive_time}}</a></li>
                            
                        </ul>
                    </div> --}}

                    <select name="sch_number" class="form-select" aria-label="Default select example">
                        <option>항공사 / 출발지 / 출발시간 / 도착지 / 도착시간</option>
                        {{#each schinfo}}
                        <option value={{sch_number}}>{{s_airline}} / {{s_departure}} / {{s_depart_time}} / {{s_arrival}} / {{s_arrive_time}}</option>
                        {{/each}}
                    </select>
                </th>
                {{!-- <td><input type="text" name="departure" placeholder="출발지"></td>
                <td><input type="text" name="depart_time" placeholder="출발시간"></td>
                <td><input type="text" name="arrival" placeholder="도착지"></td>
                <td><input type="text" name="arrive_time" placeholder="도착시간"></td> --}}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="text" name="date_info" placeholder="날짜"></td>
                <td><input type="text" name="seats" placeholder="남은좌석"></td>
                <td>
                    <select name="airplane_id" class="form-select" aria-label="Default select example">
                        <option>항공기ID</option>
                        {{#each airplaneID}}
                        <option value={{a_id}}>{{a_id}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <button class="btn btn-secondary btn-sm" name='insertBtn' type="submit">추가</button>
                </td>
            </tr>
        </form>

    </tbody>
</table>

<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button" onclick="location.href='/admin/leg_info'">돌아가기</button>
</div>